/* media queries */

/* @mixin breakpoint ($breakpoint){
    @media screen and (min-width: $breakpoint {
        @content;
    }
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-image: url("./img/light.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;

    /* position:relative */
    

}
/* (::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(34,34,34,0.5);

}) */
.content{
    position :relative;
    z-index: 1;
}
h1{
    color: rgb(32, 22, 3);
    font-weight: 100;
    font-size : 46px;
    mix-blend-mode: overlay;
    font-weight : 900;
    font-size: 95px

}
#span{
    font-weight: 600;
    /* @include breakpoint (480px){
        font-size: 36px
    } */
}
h2{
    color:white;
    font-size: 75px;
    margin: 30px 0px;
    /* @include breakpoint (480px){
        font-size: 50px
    } */

}
.countdow{
    color: black;
    font-size: 36px;
    font-weight: 400;

}